.jumbotron {
  height: 200px;
  border-radius: 0;
  background: url(images/dog.png) no-repeat center right / contain,
              url(images/paws-pattern.jpg) repeat top right / contain;
    h3 {
      font-weight: 600;
      color: white;
      text-shadow: 4px 4px 4px black;
    }
}
