.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

    @media only screen and (min-device-width : $breakpoint-md) {
      height: 100px;
    }

    &__links {
        width: 85%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__list {
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media only screen and (min-device-width : $breakpoint-md) {
            flex-direction: row;
          }
        }
    }

    &__logo {
        width: 50%;
        display: flex;
        justify-content: center;
        background-color: white;
        transform: rotate(-20deg);
        align-items: center;
        border-radius: 100%;
        cursor: pointer;

        a {
          text-decoration: none;
        }

        &:hover {
          animation-name: logo-hover;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }

        @media only screen and (min-device-width: $breakpoint-sm) {
          width: 35%;
        }

        @media only screen and (min-device-width : $breakpoint-md) {
          width: 15%;
        }
    }
}

// Bootstrap Styles

.navbar-nav .nav-item:first-child {
    margin-left: 1rem;
}
